# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
causal_inference/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env